/* layout.css */

body{ margin:0; }

header, footer {
    background-color: #FFA600;
    padding: 2em;
}


main {
    background-color: #14C6CC;
    padding:10em;
    
    box-sizing: border-box;
    width: 70%;
    float:left;
}

aside {
    background-color: #998B3D;
    padding:4em;
    
    box-sizing: border-box;
    width: 30%;
    float:right;
    
}

nav {
    background-color: #40C6FF;
    padding: 1em;
}

footer { clear: both;}


/* A primeira Media Query */
@media (max-width: 700px) {

    main, aside {
        float: none;
        width: auto;
    }
    
}


img {
    
    
    width: 70%;
    height: 70%;
    margin-left: 20%;
}


a {
  
  padding: 5px;
  background-color: orange;
  border-width: 1px;
  border-color: orange;
  border-radius: 7px;
  
 }
 
 
 
 h2 {
    
    margin-top: 0px;
    font-size: 50px;
    font-family: Arial Narrow;
    
 }
 
 
 p {
    
    font-size: 20px;
    
    font-family: sans-serif;
    
 }
 
 iframe {
    
   
    
    width: 80%;
    height: 380px;
    margin-top: 30px;
 }
 
 
 
 a {
    
    text-decoration: none;
    
 }