/* layout.css */

body{ margin:0;
      background-color: #998B3D;

}

header, footer {
    background-color: #FFA600;
    padding: 2em;
}


main {
    background-color: #14C6CC;
    padding:10em;
    
    box-sizing: border-box;
    width: 70%;
    float:left;
}

aside {
    background-color: #998B3D;
    padding:4em;
    
    box-sizing: border-box;
    width: 30%;
    float:right;
    
}

nav {
    overflow: hidden;
    background-color: #40C6FF;
    padding: 2em;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

footer { clear: both;}


/* A primeira Media Query */
@media (max-width: 700px) {

    main, aside {
        float: none;
        width: auto;
    }
    
}


img {
    
    
    width: 70%;
    height: 70%;
    margin-left: 20%;
}


button {
  
  padding: 15px;
  background-color: orange;
  border-width: 1px;
  border-color: orange;
  border-radius: 7px;
  font-size: 18px;
  
  cursor: pointer;
  box-shadow: 0 9px #999;
  
  
  
 }
 
 button:hover {
  background-color: #e6a161;
  }

 button:active{
  background-color: #e6a161;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 
 
 
 h2 {
    
    margin-top: 0px;
    font-size: 50px;
    font-family: 'Crete Round', sans-serif;
    color: green;
    border-bottom: 7px;
    border-color: black;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    
   
    
 }
 
 
 p {
    
    font-size: 20px;
    
    font-family: 'Oxygen', sans-serif;
    
 }
 
 iframe {
    
   
    
    width: 80%;
    height: 380px;
    margin-top: 30px;
 }
 
 
 
 a {
    
    text-decoration: none;
    
 }